html {
    background-color: silver;
    margin: auto
}
#content {
    width: 100%;
    background-color: white;
    height: auto;
    margin: auto;
    padding: auto;
}
header {
    background-color: #7498ef;
    width: auto;
    padding: auto;;
    margin-top: -11px;
}
#logo {
    display: inline-block;
    margin-left: auto; 
    margin-right: auto;
    height: auto;
    width: 15%;
}
/* #title {
    font-size: 30px; 
} */
nav { 
    background-color: darkslategray;
    width: 100%;
    border: 1px solid black;
    width: auto;
    text-align: center;
}
ul#topnav li {
    display: inline-block;
    width: auto;
    margin: auto;
}
ul#topnav li a {
    color: black;
    padding: 1.4vw 10px;
    font-size: 25px;
    text-decoration: none;    
}
ul#topnav li a:hover {
    background-color: lightgrey;
}
main {
    background-color: white;
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: -500px;

}
 header h1 {
    text-align: center; 
}
.post {
    background-color: whitesmoke;
    color: black;
    margin: auto;
    width: auto;
    padding: 15px;
    /* border: 1px solid black; */
}
.post, p {
    font: 14px tahoma, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.post img {
    display:block;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
hr.hrtb {
    border: 0;height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
p.postfoot {
    font-style: italic;
}
footer p {
    font: bold 14px courier, sans-serif;
    padding: 15px;
}